body {
	font-family: 'Lato', sans-serif;
	background-color: #a0ccbf;
	border: 30px solid white;
}	

header h1, h3 {
	text-align: center;

}

/*Parent Div*/
#img-div {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#image {
	border-radius: 8px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	max-width: 80%;
	height: auto;
	align-self: center;
	max-width: 100%;
}

#img-caption {
	align-self: center;
}
ul li {
	width: 75%;
	margin: auto auto;
}

.closing-quote {
	max-width: 50%;
	text-align: left;
	margin: auto;
	margin-top: 50px;
}

footer {
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	margin: 40px 0 40px 0;
}
